.main-container {
  position: relative;
  width: 640px;
  height: 360px;
}
.main-container > video{
  margin: 0%;
  padding: 0%;
}
.ranges {
    position: absolute;
    display: flex;
    flex-direction: row;
  }